{% extends "base.html.twig" %}

{% block body %}
  {% block title_page %}
    <div class="block-title d-flex-jcb-aic">
      {{ parent() }}
      <div class="d-flex-jcb-aic ps-3 col-11 col-md-12">
        <h1><i class="fa-solid fa-building clr-black me-3"></i>Appartements</h1>
        <a href="{{ path('app_apartment_new') }}" class="link-title m-0 h3 btn btn-primary d-flex align-items-center"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter</a>
      </div>
    </div>
  {% endblock %}
  <div class="block-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for apartment in apartments %}
      <div class="col">
        <div class="card h-100" style="border-top: 10px solid {{ apartment.color }};">
          <div class="card-body">
            <h2 class="card-title">{{ apartment.name }}</h2>
            <p class="card-text">{{ apartment.address }}</p>
            <p class="card-text">{{ apartment.complementAddress }}</p>
            <p class="card-text">{{ apartment.postcode }} {{ apartment.city }}</p>
          </div>
          <div class="card-footer d-flex justify-content-around">
            <a href="{{ path('app_apartment_update', {'id': apartment.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-pen-to-square me-2"></i>Modifier</a>
            <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmationDelete{{ apartment.id }}"><i class="fa-solid fa-trash me-2"></i>Supprimer</a>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalConfirmationDelete{{ apartment.id }}" tabindex="-1" aria-labelledby="modalConfirmationDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title fs-5 h1" id="exampleModalLabel">Confirmation de suppression</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Êtes-vous sûr de vouloir supprimer l'appartement de {{ apartment.name }}</p>
            </div>
            <div class="modal-footer d-flex-jcb-aic">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
              <a href="{{ path('app_apartment_delete', {'id': apartment.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}