{% extends '@EasyAdmin/page/content.html.twig' %}


{% block head_javascript %}
  {{ parent() }}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
  <script>
    window.onload = () => {
      let calendarEl = document.getElementById('calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        displayEventTime: false,
        height: 'auto',
        initialView: 'dayGridMonth',
        locale: 'fr',
        timeZone: 'Europe/Paris',
        headerToolbar: {
          start: 'prev,next',
          center: 'title',
          end: 'dayGridMonth,timeGridWeek'
        },
        buttonText: {
          month: 'Mois',
          week: 'Semaine'
        },
        events: {{ reservations|raw }},
      });
      calendar.render();
    };
  </script>
{% endblock %}

{% block main %}
  <div class="block-section-title">
    <h4 class="my-4"><i class="fa-solid fa-calendar-days me-2"></i>Planning</h4>
  </div>
  <div class="block-content calendar-block">
    <div id="calendar"></div>
    <div class="calendar-legend mt-2">
      <div class="d-flex flex-wrap justify-content-start align-items-center">
        {% for apartment in apartments %}
          <div class="apartment-legend d-flex justify-content-start align-items-center me-4">
            <p class="apartment-color me-1" style="width: 15px; height:15px; border-radius:50%; background: {{ apartment.color }}"></p>
            <p class="apartment-name">{{ apartment.name }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  <div class="block-section-title text-left">
    <h4 class="my-4"><i class="fa-solid fa-chart-column me-2"></i>Statistiques</h4>
  </div>
  <div class="block-content">
    <div class="my-3">
      <h5>Statistiques globales</h5>
      <div class="d-flex justify-content-around align-items-center mb-3">
        <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
          <p class="fw-bold mb-2">Total ventes</p>
          <p class="h1 mb-0">{{ totalSales|format_currency('EUR', {rounding_mode: 'floor'}) }}</p>
        </div>
        <div class="circle-stat text-center d-flex justify-content-center align-items-center flex-column">
          <p class="fw-bold mb-2">Réservations totales</p>
          <p class="h1 mb-0">{{ nbReservations }}</p>
        </div>
      </div>
    </div>
    <div class="my-5">
      <h5>Chiffres de l'année en cours</h5>
      <div id="chart">
        {{ render_chart(chart) }}
      </div>
    </div>
  </div>
{% endblock %}