{% extends "base.html.twig" %}

{% block body %}
  {% block title_page %}
  <div class="block-title d-flex-jcb-aic">
    {{ parent() }}
    <div class="d-flex-jcb-aic col-10 col-md-12">
      <h1><i class="fa-solid fa-bed clr-black me-3"></i>Statuts de réservations</h1>
      <a href="{{ path('app_reservation_state_new') }}" class="link-title m-0 h3 btn btn-primary d-flex align-items-center"><i class="fa-solid fa-circle-plus add-title-icon me-2"></i>Ajouter</a>
    </div>
  </div>
  {% endblock %}
  <div class="block-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">État</th>
            <th scope="col">Couleur</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for reservationState in reservationStates %}
            <tr>
              <td>{{ reservationState.id }}</td>
              <td>{{ reservationState.name }}</td>
              <td><span style="padding:0.5rem 1rem; background:{{ reservationState.color }}; border-radius:10px; color:white;"></span></td>
              <td>
                <a href="{{ path('app_reservation_state_update', {'id': reservationState.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}