{% extends "base.html.twig" %}

{% block body %}
  {% block title_page %}
  <div class="block-title d-flex-jcb-aic">
    {{ parent() }}
    <div class="d-flex-jcb-aic col-10 col-md-12">
      <h1><i class="fa-solid fa-bed clr-black me-3"></i>Réservations</h1>
      <a href="{{ path('app_reservation_new') }}" class="link-title m-0 h3 btn btn-primary d-flex align-items-center"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter</a>
    </div>
  </div>
  {% endblock %}
  <div class="block-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Appt</th>
            <th scope="col">Client</th>
            <th scope="col">Date</th>
            <th scope="col">Prix</th>
            <th scope="col">Contrat</th>
            <th scope="col">Paiements</th>
            <th scope="col">Statut</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in reservations %}
            <tr>
              <td>{{ reservation.id }}</td>
              <td>{{ reservation.apartment.name }}</td>
              <td>{{ reservation.client.firstname|first }}.{{ reservation.client.lastname }}</td>
              <td>
                {{ reservation.startAt|format_date(locale='fr') }} <br/>
                {{ reservation.endAt|format_date(locale='fr') }}
              </td>
              <td>{{ reservation.price|format_currency('EUR', {rounding_mode: 'floor'}) }}</td>
              <td>{% if reservation.getContractFile != null %}<span style="background-color: #42c66a; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Contrat signé</span>{% else %}<span style="background-color: #c24f19; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Pas de contrat</span>{% endif %}
              </td>
              <td style="line-height: 1.6rem;">
                {% if reservation.cautionValidated == 1 %}<span style="background-color: #42c66a; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Caution</span>{% else %}<span style="background-color: #c24f19; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Caution</span>{% endif %}<br/>
                {% if reservation.arrhesValidated == 1 %}<span style="background-color: #42c66a; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Arrhes</span>{% else %}<span style="background-color: #c24f19; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Arrhes</span>{% endif %}<br/>
                {% if reservation.soldeValidated == 1 %}<span style="background-color: #42c66a; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Solde</span>{% else %}<span style="background-color: #c24f19; padding:0.2rem 0.5rem; color:white; border-radius:10px;">Solde</span>{% endif %}
              </td>
              <td><span style="padding:0.5rem 1rem; background:{{ reservation.state.color }}; border-radius:10px; color:white;">{{ reservation.state.name }}</span></td>
              <td>
                <a href="{{ path('app_reservation_view', {'id': reservation.id}) }}" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                <a href="{{ path('app_reservation_update', {'id': reservation.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmationDelete{{ reservation.id }}"><i class="fa-solid fa-trash"></i></a>
              </td>
              <!-- Modal -->
              <div class="modal fade" id="modalConfirmationDelete{{ reservation.id }}" tabindex="-1" aria-labelledby="modalConfirmationDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p class="modal-title fs-5 h1" id="exampleModalLabel">Confirmation de suppression</p>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Êtes-vous sûr de vouloir supprimer la réservation n°{{ reservation.id }}</p>
                    </div>
                    <div class="modal-footer d-flex-jcb-aic">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                      <a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
{% endblock %}