{% extends "base.html.twig" %}

{% block body %}
  {% block title_page %}
  <div class="block-title d-flex-jcb-aic">
    {{ parent() }}
    <div class="d-flex-jcb-aic col-10 col-md-12">
      <h1><i class="fa-solid fa-user clr-black me-3"></i>Clients</h1>
      <a href="{{ path('app_client_new') }}" class="link-title m-0 h3 btn btn-primary d-flex align-items-center"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter</a>
    </div>
  </div>
  {% endblock %}
  <div class="block-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
            <tr>
              <td>{{ client.id }}</td>
              <td>{{ client.firstname }} {{ client.lastname }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.phone }}</td>
              <td>{{ client.dateCreate }}</td>
              <td>
                <a href="{{ path('app_client_view', {'id': client.id}) }}" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                <a href="{{ path('app_client_update', {'id': client.id}) }}" class="btn btn-sm btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmationDelete{{ client.id }}"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="modalConfirmationDelete{{ client.id }}" tabindex="-1" aria-labelledby="modalConfirmationDeleteLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title fs-5 h1" id="exampleModalLabel">Confirmation de suppression</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer le client n°{{ client.id }}</p>
                  </div>
                  <div class="modal-footer d-flex-jcb-aic">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('app_client_delete', {'id': client.id}) }}" class="btn btn-danger">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}