{% extends "base.html.twig" %}

{% block body %}
  {% block title_page %}
  <div class="block-title d-flex-jcb-aic">
    {{ parent() }}
    <div class="d-flex-jcb-aic col-10 col-md-12">
      <h1 class="d-flex align-items-center">
        <i class="fa-solid fa-gear me-2"></i>{{ configuration.name }}
      </h1>
    </div>
  </div>
  {% endblock %}
  <div class="block-content form-block">
    {{ form_start(form) }}
      {{ form_row(form.value) }}
    {{ form_end(form) }}
  </div>
{% endblock %}